.search-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 800px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark translucent background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's above all other content */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}